@charset "UTF-8";

* {
  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: normal;
}
   .cYrISD {
       position: relative;
       display: inline-block;
   }
  .fGSdXi>span {
    color: rgb(216, 12, 24);
    font-size: 1rem;
    margin-left: 2rem;
  }

  .fGSdXi {
    height: 100px;
    color: rgb(25, 25, 25);
    font-size: 26px;
    font-weight: 400;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(25, 25, 25);
  }

  .dXoRFE>span {
    color: rgb(216, 12, 24));
  }

  .dXoRFE {
    width: 10.5rem;
    font-size: 18px;
    font-weight: 400;
    color: rgb(25, 25, 25);
  }

  .dXoRFE>small {
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 0.25rem;
  }

  .nqDMw {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    position: relative;
  }

  .czzFIC {
    display: flex;
    width: 856px;
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .iZffvT {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(246, 246, 246);
    padding: 2rem 0px;
  }

  .hcyuoc {
    padding-top: 0.5rem;
  }

  .oHGzg {
    width: 202px;
    height: 202px;
    position: relative;
    border-radius: 2px;
    border: 1px solid rgb(178, 178, 178);
    background: rgb(250, 250, 250);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(102, 102, 102);
    font-size: 1rem;
    font-weight: 400;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .oHGzg input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    font-size: 0px;
  }

  .doQsrA {
    margin-top: 20px;
    color: rgb(102, 102, 102);
    line-height: 180%;
    font-size: 14px;
    font-weight: 400;
  }

  .fwWxzG {
    width: 10.5rem;
    font-size: 18px;
    font-weight: 400;
    color: rgb(25, 25, 25);
    padding-top: 14px;
  }

  .fwWxzG>span {
    color: rgb(216, 12, 24);
  }

  .iIJDsQ {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
  }

  .flimjd input,
  .flimjd textarea {
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: rgb(25, 25, 25);
    border-radius: 2px;
    border: 1px solid rgb(178, 178, 178);
  }

  .lhjRrq {
    width: 100%;
    border-color: rgb(245, 126, 0) !important;
  }

  .flimjd input:not([type="file"]):not([type="radio"]) {
    height: 3rem;
    padding: 0px 1rem;
  }

  body,
  input,
  textarea,
  select,
  button {
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    outline: 0px;
    border: 0px;
  }

  button,
  input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0px;
  }
  *, ::before, ::after {
      box-sizing: border-box;
  }
  input[type="text" i] {
      padding-block: 1px;
      padding-inline: 2px;
  }
  input {
      font-style: ;
      font-variant-ligatures: ;
      font-variant-caps: ;
      font-variant-numeric: ;
      font-variant-east-asian: ;
      font-variant-alternates: ;
      font-variant-position: ;
      font-weight: ;
      font-stretch: ;
      font-size: ;
      font-family: ;
      font-optical-sizing: ;
      font-kerning: ;
      font-feature-settings: ;
      font-variation-settings: ;
      text-rendering: auto;
      color: fieldtext;
      letter-spacing: normal;
      word-spacing: normal;
      line-height: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      appearance: auto;
      -webkit-rtl-ordering: logical;
      cursor: text;
      background-color: field;
      margin: 0em;
      padding: 1px 0px;
      border-width: 2px;
      border-style: inset;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      border-image: initial;
      padding-block: 1px;
      padding-inline: 2px;
  }
  div{
     margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
  }
  .bLjuQa {
    width: 10.5rem;
    font-size: 18px;
    font-weight: 400;
    color: rgb(25, 25, 25);
    padding-top: 8px;
}
.bLjuQa > span {
    color: rgb(216, 12, 24);
}
  input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
  }
  
  .flimjd {
    display: block;
    width: 1024px;
    margin: auto;
}
   main{
   padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}
.gZdwcQ {
    width: 300px;
}
.cYrISD > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(140, 140, 140);
}
.uRmYL {
    display: flex;
}
.glleKD {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 125%;
    color: rgb(25, 25, 25);
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
    cursor: pointer;
}
.flimjd textarea {
    padding: 1rem;
    resize: none;
    line-height: 1.35;
    font-size: 16px;
    font-weight: 400;
    color: rgb(25, 25, 25);
    border-radius: 2px;
    border: 1px solid rgb(178, 178, 178);
}
.gQnFKF {
    width: 100%;
}
.fmzTHs {
    position: absolute;
    top: 0px;
    padding: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgb(140, 140, 140);
}
.fmzTHs span {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
}
.hsrgYS {
    width: 300px;
}
.jtPqxY > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(140, 140, 140);
}
.bOkXJa {
    width: 100%;
    height: 5.5rem;
    background: rgb(246, 246, 246);
    box-shadow: rgb(229, 229, 229) 0px -1px 0px 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
}
footer{
   margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}
.hDtjVn {
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    gap: 14px;
    width: 1024px;
    margin: auto;
}
.fbBXvz {
    height: 3.5rem;
    width: 10rem;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border-radius: 2px;
    background: rgb(51, 153, 51);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.hmUNzn {
    background: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
    font-family: Pretendard;
}
.eQoStg {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 16px 45px;
    border-radius: 2px;
    border: 1px solid rgb(229, 229, 229);
    background: rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    font-size: 20px;
    font-weight: 500;
}
.kPDVsx {
    width: 284px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow-y: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: rgb(140, 140, 140);
}

.fAfkpF {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0px;
}
.btyiVm {
    display: flex;
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
}

.cVEXWs {
    width: 100%;
    height: 100%;
    padding: 0px 1.5rem;
}
.gMPvsn {
    font-size: 16px;
    font-weight: 400;
    color: rgb(216, 12, 24);
}
h3{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    
    
}
.gWFJMk {
    height: 3rem;
    width: 6.5rem;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: rgb(25, 25, 25);
    border: 1px solid rgb(178, 178, 178);
    margin-right: 1rem;
    border-radius: 2px;
}
button {
    appearance: button;
}
.kFOKFl {
    width: 100%;
    margin-top: 1rem;
}